.idea/
demofile-parsing/package-lock.json
demofile-parsing/node_modules/
import-clips/node_modules/
output.html
timestamps.json
highlights.mp4
flask-app/secrets.py
**/__pycache__/**
**/secrets.py
audio-matching/audio/**
audio-matching/librosas/**
audio-matching/labelled-time-intervals/**
audio-matching/videos/**
audio-matching/mfccs-amp-intervals/**
**/__pycache__/**
**.pyc
audio-analysis/audio-files/**
import-clips/secretsJS.js
datastore/audio/**
datastore/librosas/**
datastore/videos/**
datastore/highlights-timestamps/**