certifi==2019.11.28
cycler==0.10.0
ffmpeg==1.4
kiwisolver==1.1.0
matplotlib==3.1.2
nltk==3.4.5
numpy==1.18.1
pandas==0.25.3
pocketsphinx==0.1.15
PyAudio==0.2.11
pydub==0.23.1
pyparsing==2.4.6
python-dateutil==2.8.1
pytz==2019.3
scipy==1.4.1
six==1.14.0
SpeechRecognition==3.8.1
textblob==0.15.3
youtube-dl==2020.1.15
aubio==0.4.9
librosa==0.7.2