<html>
    <head>
        <title>DATA LABELLING</title>
    </head>
    <body>
        <iframe width="560" height="315" allow="autoplay" src="{{ embedUrl }}"></iframe>
        {% if error %}
          <p class=error><strong>Error:</strong> {{ error }}
        {% endif %}
        <form action="{{ url_for('addLabel') }}" method="post">

          <input type="text" id="shortcut" name="shortcut" autocomplete="off">

          <h1> What is the commentator excitment level? </h1>
          <input type="radio" name="commentator" value="0" id='commentator-1'/> 1 - no excitement
          <input type="radio" name="commentator" value="1" id='commentator-2'/> 2 - slight excitement
          <input type="radio" name="commentator" value="2" id='commentator-3'/> 3 - very excited

          <h1> What is the crowd excitment level? </h1>
          <input type="radio" name="crowd" value="0" id='crowd-1'/> 1 - no excitement
          <input type="radio" name="crowd" value="1" id='crowd-2'/> 2 - slight excitement
          <input type="radio" name="crowd" value="2" id='crowd-3'/> 3 - very excited

          <h1> Is this clip during the gameplay? </h1>
          <input type="radio" name="gameplay" value="0" id='game-1'/> 1 - in game
          <input type="radio" name="gameplay" value="1" id='game-2'/> 2 - out of game

          <input type="hidden" name="youtubeUrl" value="{{ youtubeUrl }}" />
          <input type="hidden" name="start" value="{{ start }}" />
          <input type="hidden" name="end" value="{{ end }}" />

          <br>
          <br>
          <input type="submit" value="submit">
        </form>
    </body>
</html>